<app-pipes-demo></app-pipes-demo>




<!-- <input type="text" placeholder="Search employee" appFormatInput format="upper"/>
<input type="text" placeholder="Search employee" appFormatInput2/> 

<p *appDuplikat="1">Test Duplikat di App</p>

<app-navbar *appDuplikat="1"></app-navbar>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <app-content-projection-demo>
        <div id="kedua" class="pertama">Satu</div>
        <div>Dua</div>
        <div class="pertama">Tiga</div>
    </app-content-projection-demo>
    <br>
    <app-employee-list></app-employee-list>
</div>

 -->
